@model IEnumerable<Paypal.NET.Models.IPN>

@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-6" style="">
        <span class="display-6">Transactions</span>
    </div>
    <div class="col-sm-6" style="">
        <span class="d-flex justify-content-end">
            <img src="@Url.Content("~/logo/paypal.png")" alt="PayPal" style="max-width: 200px;padding-bottom: 10px;">
        </span>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Created
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Amount
            </th>
            <th>
                MOP
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.create_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intent)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.paymentMethod)
            </td>
        </tr>
}
    </tbody>
</table>
